<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <a th:if="${#httpServletRequest.getRequestURI().toString() != '/'}" th:href="@{'/'}"
       class="btn btn-outline-secondary my-2 my-sm-0 mr-auto">Вернуться на главную</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{'/login'}" class="btn btn-outline-primary my-2 my-sm-0 ml-auto">Войти</a>
    <form class="ml-auto" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0 ml-auto">Выйти</button>
    </form>
</nav>